<div class="login-page">
    <div class="login-hd">
        <img class="logo" src="https://static2.zugeliang.com/20200722/075ba940-cbdd-11ea-aac2-390af7dbac36.png" />
        租葛亮 CRM 后台
    </div>
    <div class="login-info" nz-row>
        <div class="login-box" nz-col [nzSpan]="8">
            <div class="form-box">
                <nz-tabset>
                    <nz-tab nzTitle="钉钉扫码登录">
                        <app-dd-login [url]="backUrl"></app-dd-login>
                    </nz-tab>
                </nz-tabset>
            </div>
        </div>
    </div>
    <div class="login-copy-right">
        <em>Copyright &copy; 2017-现在</em>,
        <em>Hangzhou Zugeliang Technology Co., Ltd.</em>
        <em>杭州租葛亮科技有限公司 浙ICP备17009773号-1</em>
    </div>
</div>
<ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
